<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiongzai.pay.dao.GroupDao">
	
   <sql id="find">
   		 <if test="id!=null">and `group`.id = #{id}</if>
         <if test="name!=null">and `group`.name = #{name}</if>
         <if test="timeStr!=null">and FROM_UNIXTIME(`group`.create_time, '%Y-%m-%d')= #{timeStr}</if>
         <if test="status!=null">and `group`.status = #{status}</if>
         <if test="dispatch_order_status!=null">and `group`.dispatch_order_status = #{dispatch_order_status}</if>
    </sql>
    
    <select id="getById" resultType="GroupBean" parameterType="Long">
        select * from `group` where id=#{id} 
    </select>
    <delete id="removeById" parameterType="Long">
        delete from `group` where id = #{id}
    </delete>
   
    <select id="queryAll" resultType="GroupBean">
        select * from `group`
    </select>
    
    <select id="queryList" resultType="GroupBean" parameterType="GroupBean">
    	select `group`.*,(select count(1) from card where group_id=`group`.id) as card_count,
    	(select count(1) from card where group_id=`group`.id and status=1 and card_status=1) as work_card_count,
    	ifnull((select sum(amount) from `order`,card where `order`.card_id=card.id and card.group_id=`group`.id and `order`.status=1),0) as all_income,
    	ifnull((select sum(amount) from `order`,card where `order`.card_id=card.id and card.group_id=`group`.id and `order`.status=1 and `order`.create_time&gt;= UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY) and `order`.create_time&lt;UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE))),0) as yesterday_income,
    	ifnull((select sum(amount) from `order`,card where `order`.card_id=card.id and card.group_id=`group`.id and `order`.status=1 and `order`.create_time&gt;=UNIX_TIMESTAMP(CAST(SYSDATE() AS DATE))),0) as today_income
		from `group`
    	<where>
        <include refid="find" />
        </where>
        order by `group`.name
    </select>
    
    <select id="count" resultType="long"  parameterType="GroupBean">
        select count(1) from `group` 
        <where>
        <include refid="find" />
        </where> 
    </select>
    <insert id="insert" parameterType="GroupBean">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      	</selectKey>
        insert into `group`(name,create_time,remarks)
         values(#{name},#{create_time},#{remarks})
    </insert>
    
    <update id="update" parameterType="GroupBean" >
        update `group` 
        <set>
	         <if test="name!=null">name = #{name},</if>
	         <if test="status!=null">status = #{status},</if>
	         <if test="dispatch_order_status!=null">dispatch_order_status = #{dispatch_order_status},</if>
	         <if test="remarks!=null">remarks = #{remarks},</if>
        </set>
        where id = #{id}
    </update>
</mapper>